<app-header></app-header>
<div class="p-15 space-y-8">
  <div class="top flex flex-col md:flex-row gap-8">
    <div class="md:w-1/3 left">
        <div class="name">{{movie?.name}} </div>
        <div class="rating">
          <app-rating [rating]="movie.rating" [max]="5"></app-rating>
        </div>
        <div class="cover w-100 h-125 mr-12">
            <img [src]="movie?.cover" class="w-full h-full object-cover rounded " alt="">
        </div>
    </div>

    <!-- Right section -->
    <div class="md:w-2/3 space-y-4 pt-25 ">
        <div class="title mt-7.5 font-bold ">Rate this Movie</div>
        <div class="rating-form ">
            <div class="form-group mt-5">
                <label for="username" class="font-bold">Name</label>
                <input [(ngModel)]="username" type="text" name="username" class="w-full p-2 border-gray-400 border rounded mb-2">
            </div>
              <div class="form-group">
          <label class="font-bold">Rating</label>
          <div class="flex space-x-1 text-3xl">
            <span *ngFor="let heart of [1,2,3,4,5]" 
                  class="cursor-pointer"
                  [ngClass]="heart <= userRating ? 'text-pink-500' : 'text-gray-300'"
                  (click)="setRating(heart)">
              ♥
            </span>
          </div>
        </div>
            <div class="form-group">
              <label class="font-bold mb-[5px]" for="review">Review</label>
              <textarea [(ngModel)]="reviewText" name="review" rows="3" id="" class="w-full p-2 border border-gray-400 rounded mb-2" ></textarea>
            </div>
            <div class="btn-container mt-5  ">
              <button (click)="submitReviews()" class="p-2 rounded bg-black text-white ">Submit</button>
            </div>
        </div>        
      </div>
    </div>

    <div class="bottom mt-12.5">
      <h4 class="title mb-7.5 ">Reviews</h4>
      <div class="reviews w-250 " *ngIf="movie?.reviews?.length > 0 ">
        <div class="review mb-6 bg-[#f1f1f1] p-5 border-[5px] border-gray-400" *ngFor="let review of movie?.reviews" >
          <div class="review-details flex justify-between mb-5 ">
            <div class="review-left  ">
              <div class="auther text-xl font-bold">{{review.author}} </div>
                <div class="author-date opacity-[0.7]">
                  {{review.published_on | date: "dd-mm-yyyy"}}
                </div>
            </div>
            <div class="review-right ">
              <div class="rating flex items-center ">
                <app-rating [rating]="movie.rating" [max]="5"></app-rating>
              </div>
            </div>
          </div>
          <div class="review-text text-xl  " style="font-family: italic; "></div>
        </div>
      </div>
      <div class="reviews" *ngIf="movie?.reviews?.length ===0" style="font-family: italic; size: 18px;" >
        <div class="no-reviews" style="font-family: italic; size: 18px;">No Reviews Yet </div>
      </div>
    </div>
  </div>

